.contact_page {
  padding-top: 67px;
  .contact_us_section {
    width: 100%;
    padding: 96px calc((100% - 1500px) / 2);
    background: #ebf0f9;
    .contact_wrapper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 96px;
      .contact_main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        width: 750px;
        .contact_main_header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 24px;
          .empty_line {
            width: 72px;
            height: 2px;
            background: #1d2130;
          }
          h2 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d2130;
          }
        }
        .contact_main_body {
          padding-left: 96px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 16px;
          h1 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 120%;
            color: #1d2130;
            width: 100%;
          }
          p {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1d2130;
            opacity: 0.7;
          }
        }
      }
      .contact_details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;
          h1 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 160%;
            color: #1d2130;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 32px;
            padding-bottom: 16px;
            border-bottom: 1px solid #e5e5e5;
          }
          p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #1d2130;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .form_section {
    width: 100%;
    padding: 96px calc((100% - 1500px) / 2);
    .form_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        > div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 32px;
          .inner_div {
            width: calc(50% - 16px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
            label {
              width: 100%;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 160%;
              color: #1d2130;
              opacity: 0.6;
            }
            input {
              width: 100%;
              padding-bottom: 4px;
              border: none;
              outline: none;
              border-bottom: 1px solid #e5e5e5;
              border-radius: 0;
              background: none;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #1d2130;
              opacity: 1;
              &::placeholder {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1d2130;
              }
            }
          }
        }
        .comments {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 4px;
          label {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 160%;
            color: #1d2130;
            opacity: 0.6;
          }
          textarea {
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            outline: none;
            width: 100%;
            height: 156px;
            padding: 20px;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1d2130;
            // opacity: 0.3;
            &::placeholder {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #1d2130;
              opacity: 0.5;
            }
          }
        }
        button {
          margin: 0 auto;
          background: #70c174;
          border-radius: 4px;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          padding: 16px 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #70c174;
          outline: none;
          cursor: pointer;
          transition: 0.3s linear all;
          &:hover {
            background: none;
            color: #70c174;
          }
        }
      }
    }
  }
  .map_section {
    width: 100%;
    height: 448px;
    > div {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

// res media queries
@media (max-width: 1550px) {
  .contact_page .contact_us_section {
    padding: 96px 25px;
  }
  .contact_page .form_section {
    padding: 96px 25px;
  }
}
@media (max-width: 999px) {
  .contact_page .contact_us_section {
    padding: 85px 20px;
  }
  .contact_page .form_section {
    padding: 85px 20px;
  }
}
@media (max-width: 750px) {
  .contact_page .contact_us_section {
    padding: 70px 15px;
  }
  .contact_page .form_section {
    padding: 70px 15px;
  }
}
@media (max-width: 600px) {
  .contact_page .contact_us_section {
    padding: 50px 10px;
  }
  .contact_page .form_section {
    padding: 50px 10px;
  }
}

// other media queries
@media (max-width: 1200px) {
  .contact_page .contact_us_section .contact_wrapper .contact_details {
    width: 286px;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_main {
    width: calc(100% - 286px - 96px);
  }
  .contact_page .map_section {
    height: 380px;
  }
}
@media (max-width: 1000px) {
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_header {
    gap: 15px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_header
    .empty_line {
    width: 50px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body {
    padding-left: 65px;
  }
}
@media (max-width: 850px) {
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body
    h1 {
    font-size: 48px;
  }
  .contact_page .map_section {
    height: 300px;
  }
}
@media (max-width: 800px) {
  .contact_page .contact_us_section .contact_wrapper {
    gap: 40px;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_main {
    width: calc(100% - 40px - 286px);
  }
  .contact_page .form_section .form_wrapper form {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .contact_page .contact_us_section .contact_wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_main {
    width: 100%;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_details {
    width: 100%;
    padding-left: 65px;
    gap: 16px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body
    h1 {
    font-size: 35px;
  }
}
@media (max-width: 550px) {
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_header {
    gap: 10px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_header
    .empty_line {
    width: 25px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body {
    padding-left: 35px;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_details {
    padding-left: 35px;
  }
  .contact_page .form_section .form_wrapper form {
    gap: 25px;
  }
  .contact_page .form_section .form_wrapper form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
  }
  .contact_page .form_section .form_wrapper form > div .inner_div {
    width: 100%;
  }
  .contact_page .map_section {
    height: 240px;
  }
}
@media (max-width: 450px) {
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body
    h1 {
    font-size: 30px;
  }
  .contact_page
    .contact_us_section
    .contact_wrapper
    .contact_main
    .contact_main_body {
    gap: 8px;
  }
  .contact_page .contact_us_section .contact_wrapper {
    gap: 15px;
  }
  .contact_page .contact_us_section .contact_wrapper .contact_details {
    gap: 7px;
  }
  .contact_page .form_section .form_wrapper form .comments textarea {
    height: 120px;
  }
  .contact_page .form_section .form_wrapper form button {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .contact_page .map_section {
    height: 200px;
  }
}
@media (max-width: 300px) {
  .contact_page .map_section {
    height: 150px;
  }
}
