.about_us_page {
  width: 100%;
  .know_about_us_section {
    width: 100%;
    padding: 96px calc((100% - 1500px) / 2);
    .know_about_us_wrapper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 32px;
      .know_about_us_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        .empty_line {
          width: 72px;
          height: 2px;
          background: #1d2130;
        }
        h2 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #1d2130;
        }
      }
      .know_about_us_info {
        padding-left: 96px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 64px;
        h1 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 56px;
          line-height: 120%;
          color: #1d2130;
          width: 624px;
        }
        div {
          width: calc(100% - 624px - 64px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 16px;
          h3 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #1d2130;
          }
          p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1d2130;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .banner_section {
    width: 100%;
    .banner_wrapper {
      width: 100%;
      height: 448px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      flex-direction: column;
      .white_bg {
        width: 100%;
        padding: 0 calc((100% - 1500px) / 2);
        height: 50%;
      }
      .green_bg {
        width: 100%;
        padding: 0 calc((100% - 1500px) / 2);
        height: 50%;
        background: #eff7f2;
      }
      img {
        position: absolute;
        width: calc(100% - (100% - 1500px));
        height: 100%;
      }
      .play_icon {
        width: 64px;
        height: 64px;
      }
    }
  }
  .missions_section {
    width: 100%;
    background: #eff7f2;
    padding: 96px calc((100% - 1500px) / 2);
    .missions_wrapper {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 96px;
      .mission_card {
        width: 80%;
        .card_wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 8px;
          h2 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d2130;
            margin-bottom: 8px;
            width: 100%;
          }
          h1 {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: #1d2130;
          }
          p {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1d2130;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .supporters_section {
    width: 100%;
    padding: 96px calc((100% - 1500px) / 2);
    padding-top: 0;
    background-color: #eff7f2;
    .supporters_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 50px;
      .supporters_header {
        width: 100%;
        h1 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #1d2130;
        }
      }
      .supporters_info {
        width: 100%;
      }
    }
  }
  .awards_section {
    width: 100%;
    padding: 96px calc((100% - 1350px) / 2);
    .awards_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 48px;
      h1 {
        width: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #1d2130;
      }
      .awards_info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .awards_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          .card_img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .card_body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            h1 {
              width: 100%;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 160%;
              text-align: center;
              color: #1d2130;
            }
            h2 {
              width: 100%;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 160%;
              text-align: center;
              color: #1d2130;
            }
            h3 {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 160%;
              text-align: center;
              text-transform: uppercase;
              color: #1d2130;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1550px) {
  .about_us_page .know_about_us_section {
    padding: 96px 25px;
  }
  .about_us_page .banner_section .banner_wrapper .white_bg {
    padding: 0 25px;
  }
  .about_us_page .banner_section .banner_wrapper .green_bg {
    padding: 0 25px;
  }
  .about_us_page .banner_section .banner_wrapper img {
    width: calc(100% - 50px);
  }
  .about_us_page .banner_section .banner_wrapper .play_icon {
    width: 64px;
    height: 64px;
  }
  .about_us_page .missions_section {
    padding: 96px 25px;
  }
  .about_us_page .supporters_section {
    padding: 96px 25px;
    padding-top: 0;
  }
  .about_us_page .awards_section {
    padding: 96px 100px;
  }
}
@media (max-width: 1280px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    gap: 32px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div {
    width: calc(100% - 32px - 624px);
  }
}
@media (max-width: 1200px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    width: 550px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div {
    width: calc(100% - 550px - 32px);
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_header
    .empty_line {
    width: 50px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    padding-left: 74px;
  }
}
@media (max-width: 1024px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    width: 500px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    gap: 10px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div {
    width: calc(100% - 10px - 500px);
  }
  .about_us_page .banner_section .banner_wrapper {
    height: 400px;
  }
}
@media (max-width: 999px) {
  .about_us_page .know_about_us_section {
    padding: 85px 20px;
  }
  .about_us_page .banner_section .banner_wrapper .white_bg {
    padding: 0 20px;
  }
  .about_us_page .banner_section .banner_wrapper .green_bg {
    padding: 0 20px;
  }
  .about_us_page .banner_section .banner_wrapper img {
    width: calc(100% - 40px);
  }
  .about_us_page .missions_section .missions_wrapper {
    gap: 40px;
  }
  .about_us_page .missions_section {
    padding: 85px 20px;
  }
  .about_us_page .supporters_section {
    padding: 85px 20px;
    padding-top: 0;
  }
  .about_us_page .awards_section {
    padding: 85px 50px;
  }
}
@media (max-width: 950px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_header
    .empty_line {
    width: 25px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_header {
    gap: 15px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    padding-left: 40px;
  }
  .about_us_page .know_about_us_section .know_about_us_wrapper {
    gap: 20px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    width: 461px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    gap: 20px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div {
    width: calc(100% - 461px - 20px);
  }
}
@media (max-width: 900px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    flex-direction: column;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    width: 100%;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div {
    width: 100%;
  }
  .about_us_page .banner_section .banner_wrapper {
    height: 300px;
  }
  .about_us_page .banner_section .banner_wrapper .play_icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 750px) {
  .about_us_page .know_about_us_section {
    padding: 70px 15px;
  }
  .about_us_page .banner_section .banner_wrapper .white_bg {
    padding: 0 15px;
  }
  .about_us_page .banner_section .banner_wrapper .green_bg {
    padding: 0 15px;
  }
  .about_us_page .banner_section .banner_wrapper img {
    width: calc(100% - 30px);
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    font-size: 35px;
    line-height: 100%;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    gap: 15px;
  }
  .about_us_page .know_about_us_section .know_about_us_wrapper {
    gap: 15px;
  }
  .about_us_page .missions_section {
    padding: 70px 15px;
  }
  .about_us_page .supporters_section {
    padding: 70px 15px;
    padding-top: 0;
  }
  .about_us_page .awards_section {
    padding: 70px 15px;
  }
  .about_us_page .awards_section .awards_wrapper h1 {
    font-size: 35px;
    line-height: 110%;
  }
}
@media (max-width: 700px) {
  .about_us_page .banner_section .banner_wrapper {
    height: 250px;
  }
  .about_us_page
    .missions_section
    .missions_wrapper
    .mission_card
    .card_wrapper
    h1 {
    font-size: 22px;
    line-height: 110%;
  }
  .about_us_page
    .missions_section
    .missions_wrapper
    .mission_card
    .card_wrapper
    p {
    font-size: 14px;
    line-height: 150%;
  }
  .about_us_page .missions_section .missions_wrapper {
    gap: 30px;
  }
}
@media (max-width: 650px) {
  .about_us_page .missions_section .missions_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .about_us_page .missions_section .missions_wrapper .mission_card {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .about_us_page {
    padding-top: 20px;
  }
  .about_us_page .know_about_us_section {
    padding: 55px 10px;
  }
  .about_us_page .banner_section .banner_wrapper .white_bg {
    padding: 0 10px;
  }
  .about_us_page .banner_section .banner_wrapper .green_bg {
    padding: 0 10px;
  }
  .about_us_page .banner_section .banner_wrapper img {
    width: calc(100% - 20px);
  }
  .about_us_page .banner_section .banner_wrapper {
    height: 220px;
  }
  .about_us_page .banner_section .banner_wrapper .play_icon {
    width: 32px;
    height: 32px;
  }
  .about_us_page .missions_section {
    padding: 50px 10px;
  }
  .about_us_page .supporters_section {
    padding: 50px 10px;
    padding-top: 0;
  }
  .about_us_page .awards_section {
    padding: 50px 10px;
  }
  .about_us_page .awards_section .awards_wrapper .awards_info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .about_us_page .awards_section .awards_wrapper {
    gap: 25px;
  }
}
@media (max-width: 450px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_header {
    gap: 10px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info {
    padding-left: 35px;
  }
  .about_us_page .banner_section .banner_wrapper {
    height: 160px;
  }
  .about_us_page .missions_section .missions_wrapper {
    gap: 35px;
  }
  .about_us_page .awards_section .awards_wrapper .awards_info {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
@media (max-width: 400px) {
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    h1 {
    font-size: 30px;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div
    h3 {
    font-size: 18px;
    line-height: 120%;
  }
  .about_us_page
    .know_about_us_section
    .know_about_us_wrapper
    .know_about_us_info
    div
    p {
    font-size: 14px;
  }
  .about_us_page .awards_section .awards_wrapper h1 {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .about_us_page .banner_section .banner_wrapper {
    height: 110px;
  }
}
