.donation_page {
  width: 100%;
  .donation_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    .donating_section {
      padding-top: calc(67px + 96px);
      padding-bottom: 96px;
      padding-left: calc((100% - 1500px) / 2);
      padding-right: calc((100% - 1500px) / 2);
      background: #eff7f2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 70px;
      .donating_section_body {
        width: calc(100% - 550px);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
        .body_header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 24px;
          .empty_line {
            width: 72px;
            height: 2px;
            background: #1d2130;
          }
          h2 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d2130;
          }
        }
        .body_info {
          padding-left: 96px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 16px;
          h1 {
            width: 70%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 120%;
            color: #1d2130;
          }
          p {
            width: 60%;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #525560;
          }
          button {
            margin-top: 16px;
            padding: 16px 32px;
            background: #70c174;
            border-radius: 4px;
            outline: none;
            border: 1px solid #70c174;
            cursor: pointer;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            transition: 0.3s linear all;
            &:hover {
              background: none;
              color: #70c174;
            }
          }
        }
      }
      .donating_section_img {
        width: 480px;
        img {
          width: 100%;
        }
      }
    }
    .contributing_section {
      width: 100%;
      padding: 96px calc((100% - 1500px) / 2);
      background: #ffffff;
      .contributing_wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 96px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 96px;
        .contributing_info {
          width: calc(100% - 590px - 96px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 24px;
          h1 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            color: #1d2130;
          }
          p {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;

            color: #525560;
          }
        }
        .contributing_tab {
          width: 590px;
          .ant-tabs {
            width: 100%;
            .ant-tabs-nav {
              margin: 0;
              margin-bottom: 24px;
              .ant-tabs-nav-wrap {
                .ant-tabs-nav-list {
                  .ant-tabs-tab {
                    padding-left: 20px;
                    padding-right: 20px;
                    .ant-tabs-tab-btn {
                      font-family: "Roboto", sans-serif;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 160%;
                      color: #1d2130;
                    }
                  }
                  .ant-tabs-tab-active {
                    .ant-tabs-tab-btn {
                      text-shadow: none;
                    }
                  }
                  .ant-tabs-ink-bar {
                    background: #70c174;
                  }
                }
              }
            }
            .ant-tabs-content-holder {
              width: 100%;
              .ant-tabs-content {
                width: 100%;
                .ant-tabs-tabpane {
                  font-family: "Roboto", sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 160%;
                  color: #525560;
                }
              }
            }
          }
        }
      }
    }
    .donation_usage_section {
      background: #ffffff;
      padding: 96px calc((100% - 1500px) / 2);
      padding-top: 0;
      width: 100%;
      .donation_usage_wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 96px;
        .usage_header {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 120%;
          color: #1d2130;
          width: 374px;
        }
        .usage_body {
          width: calc(100% - 374px - 96px);
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 96px;
          > div {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #525560;
            width: calc(50% - 48px);
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .donation_page .donation_wrapper .donating_section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .donation_page .donation_wrapper .contributing_section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .donation_page .donation_wrapper .donation_usage_section {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 1400px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    width: 90%;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    p {
    width: 90%;
  }
  .donation_page .donation_wrapper .contributing_section .contributing_wrapper {
    gap: 30px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    width: calc(100% - 30px - 550px);
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab {
    width: 550px;
  }
}
@media (max-width: 1220px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    width: 100%;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    p {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header
    .empty_line {
    width: 50px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header {
    gap: 15px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info {
    padding-left: 65px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper {
    gap: 40px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body {
    width: calc(100% - 374px - 40px);
    gap: 40px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body
    > div {
    width: calc(50% - 20px);
  }
}
@media (max-width: 1150px) {
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab {
    width: 450px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    width: calc(100% - 480px);
  }
}
@media (max-width: 1080px) {
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    width: calc(100% - 520px);
  }
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    width: 480px;
  }
  .donation_page .donation_wrapper .donating_section {
    gap: 40px;
  }
}
@media (max-width: 1050px) {
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab {
    width: 400px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    width: calc(100% - 430px);
  }
}
@media (max-width: 1000px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    width: 440px;
  }
  .donation_page .donation_wrapper .donating_section {
    gap: 25px;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    width: calc(100% - 465px);
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info
    h1 {
    font-size: 38px;
    line-height: 43px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_header {
    width: 300px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body {
    width: calc(100% - 340px);
  }
}
@media (max-width: 950px) {
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    width: 480px;
    max-height: 350px;
    overflow-y: auto;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    width: calc(100% - 480px - 25px);
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header
    .empty_line {
    width: 25px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header {
    gap: 10px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info {
    padding-left: 35px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_header {
    width: 100%;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    width: 320px;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    width: calc(100% - 320px - 25px);
    max-height: 270px;
    padding-right: 15px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info
    h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    max-height: 230px;
    overflow-y: auto;
    padding-right: 15px;
  }
}
@media (max-width: 850px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    font-size: 38px;
    line-height: 45px;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .donation_page .donation_wrapper .donating_section {
    padding: 45px 15px;
    padding-top: 105px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    font-size: 35px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    p {
    font-size: 15px;
  }
  .donation_page .donation_wrapper .contributing_section {
    padding: 45px 15px;
  }
  .donation_page .donation_wrapper .contributing_section .contributing_wrapper {
    padding-bottom: 45px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info
    h1 {
    font-size: 30px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info
    p {
    font-size: 15px;
    line-height: 21px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab
    .ant-tabs
    .ant-tabs-content-holder
    .ant-tabs-content
    .ant-tabs-tabpane {
    font-size: 15px;
    line-height: 21px;
  }
  .donation_page .donation_wrapper .donation_usage_section {
    padding: 45px 15px;
    padding-top: 0;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_header {
    font-size: 35px;
    line-height: 42px;
  }
}
@media (max-width: 700px) {
  .donation_page .donation_wrapper .donating_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    width: 100%;
    padding-right: 0;
    max-height: inherit;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    width: 100%;
    padding-left: 35px;
  }
  .donation_page .donation_wrapper .contributing_section .contributing_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    width: 100%;
    max-height: inherit;
    padding: 0;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab {
    width: 100%;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper {
    gap: 20px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body
    > div {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .donation_page .donation_wrapper .donating_section {
    padding: 35px 10px;
    padding-top: 86px;
  }
  .donation_page .donation_wrapper .contributing_section {
    padding: 35px 10px;
  }
  .donation_page .donation_wrapper .contributing_section .contributing_wrapper {
    padding-bottom: 35px;
  }
  .donation_page .donation_wrapper .donation_usage_section {
    padding: 35px 10px;
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .donation_page .donation_wrapper .donating_section .donating_section_body {
    gap: 10px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info {
    gap: 8px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    button {
    margin-top: 0;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info {
    gap: 15px;
  }
  .donation_page .donation_wrapper .contributing_section .contributing_wrapper {
    gap: 24px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab
    .ant-tabs
    .ant-tabs-nav
    .ant-tabs-nav-wrap
    .ant-tabs-nav-list
    .ant-tabs-tab
    .ant-tabs-tab-btn {
    font-size: 15px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab
    .ant-tabs
    .ant-tabs-nav
    .ant-tabs-nav-wrap
    .ant-tabs-nav-list
    .ant-tabs-tab {
    margin-left: 16px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_tab
    .ant-tabs
    .ant-tabs-nav
    .ant-tabs-nav-wrap
    .ant-tabs-nav-list
    .ant-tabs-tab:first-child {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header {
    gap: 7px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_header
    .empty_line {
    width: 15px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info {
    padding-left: 22px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    p {
    font-size: 14px;
  }
  .donation_page
    .donation_wrapper
    .donating_section
    .donating_section_body
    .body_info
    button {
    font-size: 14px;
  }
  .donation_page .donation_wrapper .donating_section .donating_section_img {
    padding-left: 22px;
  }
  .donation_page
    .donation_wrapper
    .contributing_section
    .contributing_wrapper
    .contributing_info
    h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_header {
    font-size: 30px;
    line-height: 35px;
  }
  .donation_page
    .donation_wrapper
    .donation_usage_section
    .donation_usage_wrapper
    .usage_body
    > div {
    font-size: 14px;
    line-height: 22px;
  }
}
