.home_page {
  padding-top: 67px;
  .home_banner {
    width: 100%;
    height: 735px;
  }
  .about_us_section {
    width: 100%;
    padding: 96px calc((100% - 1500px) / 2);
    padding-bottom: 73px;
    .about_us_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 98px;
      .about_us_info {
        width: calc(100% - 98px - 480px);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        .empty_line {
          width: 72px;
          height: 2px;
          background-color: #000;
          margin-top: 8px;
        }
        .about_us_content {
          width: calc(100% - 96px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 32px;
          h3 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d2130;
          }
          h1 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            color: #1d2130;
            width: 80%;
          }
          .about_us_description {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 40px;
            p {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #525560;
              width: 75%;
            }
          }
          button {
            margin-top: 16px;
            background: #70c174;
            backdrop-filter: blur(40px);
            border-radius: 4px;
            width: 146px;
            height: 51px;
            border: 1px solid #70c174;
            transition: 0.3s linear all;
            cursor: pointer;
            a {
              text-decoration: none;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #ffffff;
              transition: 0.3s linear all;
            }
            &:hover {
              background-color: inherit;
              a {
                color: #70c174;
              }
            }
          }
        }
      }
      .about_us_photo {
        width: 480px;
        height: 578px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
        .video_player_icon {
          position: absolute;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }
  .supporters_section {
    width: 100%;
    padding: 0 calc((100% - 1500px) / 2);
    padding-bottom: 65.51px;
    .supporters_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 33.51px;
      .supporters_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        h1 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #1d2130;
          margin-bottom: 0;
        }
        .empty_line {
          width: calc(100% - 24px - 165px);
          height: 1px;
          background: #e5e5e5;
        }
      }
      .supporters_info {
        width: 100%;
      }
    }
  }
  .what_we_do_section {
    width: 100%;
    background: #eff7f2;
    padding: 96px calc((100% - 1500px) / 2);
    .what_we_do_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 96px;
      .what_we_do_info {
        width: calc(100% - 480px - 96px);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        .empty_line {
          width: 72px;
          height: 2px;
          background-color: #1d2130;
          margin-top: 7px;
        }
        .what_we_do_content {
          width: calc(100% - 96px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 32px;
          h3 {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1d2130;
          }
          .what_we_do_header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            h1 {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 48px;
              line-height: 120%;
              color: #1d2130;
              margin-bottom: 0;
            }
            p {
              width: 90%;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              color: #525560;
            }
          }
          .what_we_do_body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 24px;
            border-left: 1px solid #e5e5e5;
            gap: 24px;
            .what_we_do_card {
              width: 60%;
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 24px;
              .card_body {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;
                h1 {
                  font-family: "Roboto", sans-serif;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 28px;
                  color: #1d2130;
                  margin-bottom: 0;
                }
                p {
                  font-family: "Roboto", sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 160%;
                  color: #525560;
                }
              }
            }
          }
        }
      }
      .what_we_do_img {
        width: 480px;
        height: 658px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media (max-width: 1550px) {
  .home_page {
    .about_us_section {
      padding: 96px 25px;
    }
    .supporters_section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .what_we_do_section {
      padding: 96px 25px;
    }
  }
}
@media (max-width: 1380px) {
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_header
    p {
    width: 100%;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_body
    .what_we_do_card {
    width: 90%;
  }
}
@media (max-width: 1350px) {
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    h1 {
    width: 100%;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    .about_us_description
    p {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .home_page .about_us_section .about_us_wrapper {
    gap: 40px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    width: calc(100% - 40px - 400px);
  }
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    width: 400px;
    height: 500px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper {
    gap: 50px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    width: 350px;
    height: 500px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_info {
    width: calc(100% - 50px - 350px);
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .empty_line {
    width: 50px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content {
    width: calc(100% - 74px);
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info .empty_line {
    width: 50px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content {
    width: calc(100% - 74px);
  }
}
@media (max-width: 999px) {
  .home_page .about_us_section {
    padding: 50px 20px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content {
    gap: 15px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    .about_us_description {
    gap: 10px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    button {
    margin-top: 0;
  }
  .home_page .what_we_do_section {
    padding: 85px 20px;
  }
}
@media (max-width: 950px) {
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .empty_line {
    width: 25px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_info {
    gap: 15px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content {
    width: calc(100% - 40px);
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_body {
    padding: 0 15px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_body
    .what_we_do_card {
    width: 100%;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info .empty_line {
    width: 25px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    gap: 15px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content {
    width: calc(100% - 40px);
  }
}
@media (max-width: 900px) {
  .home_page .about_us_section .about_us_wrapper {
    gap: 25px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    width: 300px;
    height: 400px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    width: calc(100% - 300px - 25px);
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    width: 300px;
    height: 400px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper {
    gap: 25px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_info {
    width: calc(100% - 325px);
    max-height: 400px;
    overflow-y: scroll;
    padding: 0 15px;
  }
  .what_we_do_info::-webkit-scrollbar {
    width: 7px;
  }
  .what_we_do_info::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .what_we_do_info::-webkit-scrollbar-thumb {
    background-color: #1d2130;
    border-radius: 8px;
    outline: -1px solid slategray;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content {
    gap: 20px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_header {
    gap: 8px;
  }
}
@media (max-width: 750px) {
  .home_page {
    .home_banner {
      height: 650px;
    }
  }
  .home_page .about_us_section {
    padding: 40px 15px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    h1 {
    font-size: 40px;
    line-height: 110%;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    gap: 10px;
  }
  .home_page .what_we_do_section {
    padding: 80px 15px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_header
    h1 {
    font-size: 35px;
    line-height: 110%;
  }
}
@media (max-width: 700px) {
  .home_page {
    .home_banner {
      height: 350px;
    }
  }
  .home_page .about_us_section .about_us_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    width: 100%;
  }
  .home_page .about_us_section .about_us_wrapper {
    gap: 50px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    width: 100%;
    height: 500px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_info {
    padding: 0;
    width: 100%;
    max-height: inherit;
    overflow-y: hidden;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    width: 100%;
    height: 550px;
  }
}
@media (max-width: 600px) {
  .home_page .about_us_section {
    padding: 35px 10px;
  }
  .home_page .what_we_do_section {
    padding: 55px 10px;
  }
}
@media (max-width: 550px) {
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    height: 400px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    height: 360px;
  }
}
@media (max-width: 400px) {
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    height: 350px;
  }
  .home_page .about_us_section .about_us_wrapper {
    gap: 25px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content
    h1 {
    font-size: 30px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    height: 350px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_header
    h1 {
    font-size: 30px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content
    .what_we_do_body
    .what_we_do_card {
    gap: 10px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .empty_line {
    width: 15px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_info {
    gap: 7px;
  }
  .home_page
    .what_we_do_section
    .what_we_do_wrapper
    .what_we_do_info
    .what_we_do_content {
    width: calc(100% - 22px);
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info .empty_line {
    width: 15px;
  }
  .home_page .about_us_section .about_us_wrapper .about_us_info {
    gap: 7px;
  }
  .home_page
    .about_us_section
    .about_us_wrapper
    .about_us_info
    .about_us_content {
    width: calc(100% - 22px);
  }
}
@media (max-width: 350px) {
  .home_page .about_us_section .about_us_wrapper .about_us_photo {
    height: 250px;
  }
  .home_page .what_we_do_section .what_we_do_wrapper .what_we_do_img {
    height: 300px;
  }
}
