.single_event_page {
  padding-top: 61px;
  width: 100%;
  .single_event_wrapper {
    width: 100%;
    .single_event_header {
      width: 100%;
      padding: 96px calc((100% - 768px) / 2);
      background: #eff7f2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 48px;
      h1 {
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        color: #1d2130;
      }
      .details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 48px;
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          color: #1d2130;
        }
      }
    }
    .single_event_body {
      width: 100%;
      padding: 96px calc((100% - 768px) / 2);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 32px;
      h1 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #1d2130;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #525560;
      }
    }
  }
}

@media (max-width: 999px) {
  .single_event_page .single_event_wrapper .single_event_header {
    padding: 60px calc((100% - 768px) / 2);
  }
  .single_event_page .single_event_wrapper .single_event_body {
    padding: 60px calc((100% - 768px) / 2);
  }
}
@media (max-width: 850px) {
  .single_event_page .single_event_wrapper .single_event_header {
    padding: 55px 20px;
  }
  .single_event_page .single_event_wrapper .single_event_body {
    padding: 55px 20px;
  }
}
@media (max-width: 750px) {
  .single_event_page .single_event_wrapper .single_event_header {
    padding: 45px 15px;
  }
  .single_event_page .single_event_wrapper .single_event_body {
    padding: 45px 15px;
  }
  .single_event_page .single_event_wrapper .single_event_header h1 {
    font-size: 48px;
    line-height: 53px;
  }
}
@media (max-width: 600px) {
  .single_event_page .single_event_wrapper .single_event_header {
    padding: 35px 10px;
  }
  .single_event_page .single_event_wrapper .single_event_body {
    padding: 35px 10px;
  }
}
@media (max-width: 500px) {
  .single_event_page .single_event_wrapper .single_event_header {
    gap: 25px;
  }
  .single_event_page .single_event_wrapper .single_event_header h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .single_event_page .single_event_wrapper .single_event_header .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .single_event_page .single_event_wrapper .single_event_body h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .single_event_page .single_event_wrapper .single_event_body {
    gap: 25px;
  }
}
@media (max-width: 400px) {
  .single_event_page .single_event_wrapper .single_event_header h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .single_event_page .single_event_wrapper .single_event_body h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .single_event_page .single_event_wrapper .single_event_body p {
    font-size: 14px;
    line-height: 22px;
  }
}
